body {
    margin: 0;
    padding: 0;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #335;
    font-family: Lucida Sans Unicode;
}

#navbar li {
    display: inline-block;
    background-color: #335;
    color: white;
}

#navbar li a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
#navbar li a:hover {
    background-color: white;
    color: black;
}

#header {
    background-color: black;
}

#header img {
    height: 100px;
    width: auto;
}

#session_link {
    position: relative;
    bottom: 30px;
    left: 30px;
    display: inline;
    background-color: #cccccc;
}

#session_url {
    textdecoration: underline;
    display: none;
    background-color: white;
}

#navbar .dropdown {
    display: none;
    position: absolute;
    background-color: #335;
    min-width: 80px;
}

#navbar .dropdown a {
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: small;
}

#navbar .dropdown a:hover {
    background-color: white;
    color: black;
    display: block;
}
#stat_view {
    position: absolute;
    left: 500px;
    display: none;
    padding: 0px;
    margin: 0px;
}

#stats_img {
    height: 600px;
}

textarea {
    float: left;
}